# This is a sample environment file that allows overriding default configuration defined
# in docker-compose.yml. Rename this file to `.env` and then uncomment and set any variable below.

# Overrides network for all the relevant services.
NETWORK=mainnet

# Enables builder api for lodestar VC and charon services.
#BUILDER_API_ENABLED=true
#BUILDER_SELECTION=

######### Nethermind Config #########

# Nethermind docker container image version, e.g. `latest` or `1.25.3`.
# See available tags https://hub.docker.com/r/nethermind/nethermind/tags
#NETHERMIND_VERSION=

# Nethermind host exposed ip and ports
#NETHERMIND_PORT_P2P=
#NETHERMIND_IP_HTTP=
#NETHERMIND_PORT_HTTP=
#NETHERMIND_IP_ENGINE=
#NETHERMIND_PORT_ENGINE=

# Nethermind ancient barrier allows you to specify how many old block bodies and receipts you want to store.
#NETHERMIND_ANCIENT_BODIES_BARRIER=
#NETHERMIND_ANCIENT_RECEIPTS_BARRIER=

######### Lighthouse Config #########

# Lighthouse beacon node docker container image version, e.g. `latest` or `v4.6.0`.
# See available tags https://hub.docker.com/r/sigp/lighthouse/tags.
#LIGHTHOUSE_VERSION=

# Lighthouse beacon node host exposed ports
#LIGHTHOUSE_PORT_P2P=

# Checkpoint sync url used by lighthouse to fast sync.
# See available options https://eth-clients.github.io/checkpoint-sync-endpoints/.
# If the given url errors, try replacing it with an alternative url like https://sync-mainnet.beaconcha.in/.
LIGHTHOUSE_CHECKPOINT_SYNC_URL=https://mainnet.checkpoint.sigp.io/

######### Lodestar Config #########

# Lodestar validator client docker container image version, e.g. `latest` or `v1.20.1`.
# See available tags https://hub.docker.com/r/chainsafe/lodestar/tags
#LODESTAR_VERSION=

# Override prometheus metrics port for lodestar validator client.
#LODESTAR_PORT_METRICS=

######### Charon Config #########

# Charon docker container image version, e.g. `latest` or `v1.0.1`.
# See available tags https://hub.docker.com/r/obolnetwork/charon/tags.
#CHARON_VERSION=

# Define custom relays. One or more ENRs or an http URL that return an ENR. Use a comma separated list excluding spaces.
#CHARON_P2P_RELAYS=

# Connect to one or more external beacon nodes. Use a comma separated list excluding spaces.
#CHARON_BEACON_NODE_ENDPOINTS=

# Increase the duration charon will wait for requests to the beacon node
#CHARON_BEACON_NODE_TIMEOUT=

# Increase the duration charon will wait while publishing data to the beacon node
#CHARON_BEACON_NODE_SUBMIT_TIMEOUT=

# Override the charon logging level; debug, info, warning, error.
#CHARON_LOG_LEVEL=

# Override the charon logging format; console, logfmt, json. Grafana panels require logfmt.
#CHARON_LOG_FORMAT=

# Advertise a custom external DNS hostname or IP address for libp2p peer discovery.
#CHARON_P2P_EXTERNAL_HOSTNAME=

# Loki log aggregation server addresses. Disable loki log aggregation by setting an empty address.
#CHARON_LOKI_ADDRESSES=

# Docker network of running charon node. See `docker network ls`.
#CHARON_DOCKER_NETWORK=

# Charon host exposed ports
#CHARON_PORT_P2P_TCP=

######### MEV-Boost Config #########

# MEV-Boost docker container image version, e.g. `latest` or `1.7.0`.
#MEVBOOST_VERSION=

# MEV-Boost docker container image name, e.g. flashbots/mev-boost.
#MEVBOOST_IMAGE=

# Comma separated list of MEV-Boost relays.
# You can choose public relays from https://enchanted-direction-844.notion.site/6d369eb33f664487800b0dedfe32171e?v=d255247c822c409f99c498aeb6a4e51d.
MEVBOOST_RELAYS=https://0xa15b52576bcbf1072f4a011c0f99f9fb6c66f3e1ff321f11f461d15e31b1cb359caa092c71bbded0bae5b5ea401aab7e@aestus.live,https://0xa1559ace749633b997cb3fdacffb890aeebdb0f5a3b6aaa7eeeaf1a38af0a8fe88b9e4b1f61f236d2e64d95733327a62@relay.ultrasound.money,https://0x8c4ed5e24fe5c6ae21018437bde147693f68cda427cd1122cf20819c30eda7ed74f72dece09bb313f2a1855595ab677d@global.titanrelay.xyz

######### Monitoring Config #########

# Grafana docker container image version, e.g. `latest` or `10.4.2`.
# See available tags https://github.com/grafana/grafana/releases.
#GRAFANA_VERSION=

# Grafana host exposed ip and port.
#MONITORING_IP_GRAFANA=
#MONITORING_PORT_GRAFANA=

# Prometheus docker container image version, e.g. `latest` or `v2.50.1`.
# See available tags https://github.com/prometheus/prometheus/releases.
#PROMETHEUS_VERSION=

# Prometheus remote write token used for accessing external prometheus.
#PROM_REMOTE_WRITE_TOKEN=

# Prometheus service owner used to uniquely identify user from which metrics are pushed.
#SERVICE_OWNER=charon_user

######### Debug Config #########

# This applies to compose-debug.yml only.

# Prometheus Node exporter docker container image version, e.g. `latest` or `1.6.0`.
# See available tags https://hub.docker.com/r/bitnami/node-exporter/tags.
#NODE_EXPORTER_VERSION=

# Jaeger docker container image version, e.g. `latest` or `1.46.0`.
# See available tags https://hub.docker.com/r/jaegertracing/all-in-one/tags.
#JAEGER_VERSION=

# Jaeger host exposed port for HTTP query.
#MONITORING_PORT_JAEGER=

# Grafana Loki docker container image version, e.g. `latest` or `2.8.2`.
# See available tags https://hub.docker.com/r/grafana/loki/tags.
#LOKI_VERSION=
