.env
.env.charon.more
docker-compose.override.yml
charon-enr-private-key
validator_keys/
keystore-*
deposit-data.json
cluster-definition.json
cluster-lock.json
.DS_Store
data/
.idea
.charon
prometheus/prometheus.yml

# Cluster data and keys
**/canary-*/
**/node[0-9]*/
**/cluster-lock.json
**/validator_keys/
**/keystore-*.json
**/keystore-*.txt
**/charon-enr-private-key