# The "Multiple Compose File" feature provides a very powerful way to override
# any configuration in docker-compose.yml without needing to modify
# git-checked-in files since that results in conflicts when upgrading this repo.
# See https://docs.docker.com/compose/extends/#multiple-compose-files for more.

# Just copy this file to `docker-compose.override.yml` and customise it to your liking.
# `cp docker-compose.override.yml.sample docker-compose.override.yml`

# Some example overrides are commented out below. Any uncommented section
# below will automatically override the same section in
# docker-compose.yml when ran with `docker-compose up`.
# See https://docs.docker.com/compose/extends/#adding-and-overriding-configuration for details.

# WARNING: This is for power users only and requires a deep understanding of Docker Compose
# and how the local docker-compose.yml is configured.

#services:
  #nethermind:
    # Disable nethermind
    #profiles: [disable]
    # Bind nethermind internal ports to host ports
    #ports:
      #- 8545:8545 # JSON-RPC
      #- 8551:8551 # AUTH-RPC
      #- 6060:6060 # Metrics

  #lighthouse:
    # Disable lighthouse
    #profiles: [disable]
    # Bind lighthouse internal ports to host ports
    #ports:
      #- 5052:5052 # HTTP
      #- 5054:5054 # Metrics

  #charon:
    # Configure any additional env var flags in .env.charon.more
    #env_file: [.env.charon.more]
    # Uncomment the extra_hosts section if you are trying to communicate with a CL running in a different docker network on the same machine 
    #extra_hosts:
      #- "host.docker.internal:host-gateway"
    # Bind charon internal ports to host ports
    #ports:
      #- 3600:3600/tcp # Validator API
      #- 3620:3620/tcp # Monitoring

  #lodestar:
    # Disable lodestar
    #profiles: [disable]
    # Bind lodestar internal ports to host ports
    #ports:
      #- 5064:5064 # Metrics

  #prometheus:
    # Disable prometheus
    #profiles: [disable]
    # Bind prometheus internal ports to host ports
    #ports:
      #- 9090:9090 # Metrics

  #mev-boost:
    # Disable mev-boost
    #profiles: [disable]
    # Bind mev-boost internal ports to host ports
    #ports:
      #- 18550:18550 # Metrics
