# The "Multiple Compose File" feature provides a very powerful way to override
# any configuration in docker-compose.yml without needing to modify
# git-checked-in files since that results in conflicts when upgrading this repo.
# See https://docs.docker.com/compose/extends/#multiple-compose-files for more.

# Just copy this file to `docker-compose.override.yml` and customise it to your liking.
# `cp docker-compose.override.yml.sample docker-compose.override.yml`

# Some example overrides are commented out below. Any uncommented section
# below will automatically override the same section in
# docker-compose.yml when ran with `docker-compose up`.
# See https://docs.docker.com/compose/extends/#adding-and-overriding-configuration for details.

# WARNING: This is for power users only and requires a deep understanding of Docker Compose
# and how the local docker-compose.yml is configured.

# services:
  # geth:
    # Disable geth
    # profiles: [disable]
    # ports:
      # - 30303:30303/tcp # P2P TCP
      # - 30303:30303/udp # P2P UDP
      # - 8545:8545 # JSON-RPC
      # - 8551:8551 # AUTH-RPC
      # - 6060:6060 # Metrics

  # lighthouse:
    # Disable lighthouse
    # profiles: [disable]
    # ports:
      # - 9000:9000/tcp # P2P TCP
      # - 9000:9000/udp # P2P UDP
      # - 5052:5052 # HTTP
      # - 5054:5054 # Metrics

  # charon:
    # Configure any additional env var flags in .env.charon.more
    # env_file: [.env.charon.more]
    # ports:
      # - 3600:3600/tcp # Validator API
      # - 3610:3610/tcp # P2P TCP libp2p
      # - 3620:3620/tcp # Monitoring
      # - 3630:3630/udp # P2P UDP discv5

  # teku:
    # Disable teku
    # profiles: [disable]
    # ports:
      # - 8008:8008 # Metrics

  # prometheus:
    # Disable prometheus
    # profiles: [disable]
    # ports:
      # - 9090:9090 # Metrics

  # loki:
    # Disable loki
    # profiles: [disable]
    # ports:
      # - 3100:3100 # Metrics
