version: "3.8"

services:
  #       _              
  #   ___| |__   __ _ _ __ ___  _ __     
  #  / __| '_ \ / _` | '__/ _ \| '_ \
  # | (__| | | | (_| | | | (_) | | | |
  #  \___|_| |_|\__,_|_|  \___/|_| |_|
  charon:
    # Pegged charon version (update this for each release).
    image: ghcr.io/obolnetwork/charon:v0.8.0
    env_file: .env
    networks: [dvnode]
    volumes: [".charon:/opt/charon/.charon"]

  #             _ _     _       _                 
  # __   ____ _| (_) __| | __ _| |_ ___  _ __ 
  # \ \ / / _` | | |/ _` |/ _` | __/ _ \| '__/
  #  \ V / (_| | | | (_| | (_| | || (_) | |  
  #   \_/ \__,_|_|_|\__,_|\__,_|\__\___/|_|
  teku:
    image: consensys/teku:${TEKU_VERSION}
    networks: [dvnode]
    depends_on: [charon]
    restart: on-failure
    ports: ["8008:8008"]
    command: |
      validator-client
      --beacon-node-api-endpoint="http://charon:3600"
      --config-file "/opt/charon/teku/teku-config.yaml"
    volumes:
      - ".charon/validator_keys:/opt/charon/validator_keys"
      - "./teku:/opt/charon/teku"

  #                        _ _             _             
  #  _ __ ___   ___  _ __ (_) |_ ___  _ __(_)_ __   __ _ 
  # | '_ ` _ \ / _ \| '_ \| | __/ _ \| '__| | '_ \ / _` |
  # | | | | | | (_) | | | | | || (_) | |  | | | | | (_| |
  # |_| |_| |_|\___/|_| |_|_|\__\___/|_|  |_|_| |_|\__, |
  #                                                |___/ 
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    networks: [dvnode]
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
  
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks: [dvnode]
    depends_on: [prometheus]
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/datasource.yml
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/dashboards:/etc/dashboards

  jaeger:
    image: jaegertracing/all-in-one:latest
    networks: [dvnode]
    ports:
      - "16686:16686"

networks:
  dvnode:
