global:
  scrape_interval: 30s # Set the scrape interval to every 30 seconds.
  evaluation_interval: 30s # Evaluate rules every 30 seconds.
  external_labels:
    service_owner: $SERVICE_OWNER # replace this with your Operator name you want to be identified by, it helps us route alerts and metrics to your notification channels easily
    cluster_name: $CLUSTER_NAME
    cluster_peer: $CLUSTER_PEER

remote_write:
  - url: https://vm.monitoring.gcp.obol.tech/write
    authorization:
      credentials: $PROM_REMOTE_WRITE_TOKEN
    write_relabel_configs:
      - source_labels: [job]
        regex: "charon|mev-boost"
        action: keep # Keeps charon metrics and drop metrics from other containers.

scrape_configs:
  - job_name: "nethermind"
    static_configs:
      - targets: ["nethermind:8008"]
  - job_name: "lighthouse"
    static_configs:
      - targets: ["lighthouse:5054"]
  - job_name: "cl-prysm"
    static_configs:
      - targets: ["cl-prysm:5054"]
  - job_name: "charon"
    static_configs:
      - targets: ["charon:3620"]
    relabel_configs:
      - target_label: alert_discord_ids
        replacement: "$ALERT_DISCORD_IDS"
  - job_name: "mev-boost"
    static_configs:
      - targets: ["mev-mevboost:18551","mev-boost:18551"]
  - job_name: "lodestar"
    static_configs:
      - targets: [ "lodestar:5064" ]
  - job_name: "validator-ejector"
    static_configs:
      - targets: [ "validator-ejector:8989" ]