version: "3.8"

services:
#             _        _  _
#   _ _  ___ | | __ _ | || |
#  | '_|/ -_)| |/ _` | \_. |
#  |_|  \___||_|\__/_| |__/
#
  relay:
    # Pegged charon version (update this for each release).
    image: obolnetwork/charon:v0.14.3
    environment:
      CHARON_P2P_TCP_ADDRESS: 0.0.0.0:3610
      CHARON_HTTP_ADDRESS: 0.0.0.0:3640
      CHARON_LOG_LEVEL: debug
      CHARON_P2P_EXTERNAL_HOSTNAME: replace.with.public.ip.or.hostname
    ports:
      - 3610:3610/tcp
      - 3640:3640/tcp
    command: relay
    volumes:
      - .charon:/opt/charon/.charon # Relay charon-enr-private-key generated and persisted across restarts in this folder
    restart: on-failure
